body{
    margin: 30px;
    padding: 30px;
}
.big-title-gothic {
    text-align: center;
    font-size: 60px;
    font-family: fantasy;
    padding-top: 20px;
}
.article-content {
    -webkit-column-count: 5;
    -webkit-column-rule: 3px solid black;
}
.left {
    text-align: left;
    padding-left: 30px;
}
.nav-font{
    font-family: fantasy;
    font-size: 30px;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    line-height: 26.4px;

}
.right{
    float: right;
    padding-right: 30px;
}
hr.style-eight {
    padding: 0;
    border: none;
    border-top: medium double #333;
    color: #333;
    text-align: center;
}
hr.style-eight:after {
    display: inline-block;
    position: relative;
    top: -0.7em;
    font-size: 1.5em;
    padding: 0 0.25em;
    background: white;
}
p::first-letter
{
    color: #fff;
    background: #f00;
    padding: 0 4px;
    margin: 0 2px 0 0;
}
.img-column {
    -webkit-column-span: all;
    column-span: all;
    text-align: center;
}
blockquote {
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 40px;
    margin-right: 40px;
}
.phrase{
    font-family: Geneva, Arial, Helvetica, sans-serif;
    font-size: 30px;
    border: 3px solid black;
    margin: 10px;
    padding: 10px;
    text-align: justify;
}
.centered-end {
    text-align: center;
}
.word{
    width: 160px;
    background: #f0f0f0;
    border: 1px solid #333;
    padding: 10px;
    font-size: 18px;
}
.image-post {
    width: 150px;
    display: block;
    margin: 0 auto;
}
